main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}


.latest-products-title {
  font-size: 38px;
  margin-bottom: 20px;
}


table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-image-container {
  height: 400px; /* Adjust the height as per your requirement */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  object-fit: contain;
  max-height: 100%;
  width: auto;
}



.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icon {
  margin-right: 10px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container:hover {
  cursor: zoom-in;
}

.navbar {
  background-color: #333333;
  padding: 10px;
}

.logo {
  height: 48px;
}

.nav-link {
  color: #fff;
  font-weight: 500;
}

.nav-icon {
  margin-right: 5px;
}

.cart-badge {
  margin-left: 5px;
}

.nav-dropdown {
  background-color: #212529;
  border: none;
}

.side-cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 9999;
  overflow-y: auto;
}

.side-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.side-cart-header h3 {
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-buttons a {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.cart-buttons a:first-child {
  background-color: #ddd;
}

.cart-buttons a:last-child {
  background-color: #007bff;
  color: white;
}

.nav-dropdown .dropdown-menu {
  background-color: #212529;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.nav-dropdown .dropdown-item {
  color: #fff;
}

.nav-dropdown .dropdown-item:hover {
  background-color: hsl(135, 61%, 47%);
}

.nav-dropdown .dropdown-divider {
  border-color: #888;
}


@media (max-width: 767px) {
  .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }
}


.success-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.success-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.success-card {
  max-width: 700px;
  width: 90%;
  margin-top: -200px; /* Adjust the margin value to push the card higher */
  text-align: center;
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}





.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* Adjust the margin value to decrease the spacing */
}

.place-order-container {
  margin-top: -70px; /* Adjust the value to reduce the gap */
}

.button-container button {
  flex: 1;
  margin: 0 5px; /* Adjust the margin value to decrease the spacing between buttons */
}


